.view{
        margin-top: 56px;
}
a:hover{
	text-decoration: none;
}

div.intro{
	display: none;
}
a.items:hover + div{
	display: block;
}
/*body > div.view.ng-scope > div > div.rightbar > div div a img{
	max-height: 250px;
	margin: 0 auto;
}*/
div.items{
	text-align: center;
}
.list, .contact{
	margin: 0.7em 0;
	font-size: 45px;
	font-family: 'Dancing Script', cursive;
}
.titlebook{
	text-align: center;
	font-size: 23px;
	color: #26347A;
	padding: 10px 0;
	font-family: 'Satisfy', cursive;
	height: 141px;
}
.typebook{
	font-family: 'Dancing Script', cursive;
	color: #722B2B;
	text-align: center;
	font-size: 45px;
	padding: 10px;
	margin-left: 0;
	border-bottom: double 2px #000;
}
.hotbook, .newbook{
	margin-top: 30px;
}
.slide{
	width: 100%;
	height: 300px;
	overflow: hidden;
	margin-bottom: 20px;
}
/*categogies*/
.items{
	
}
.imgBook img{
		margin: auto;
}
div.categogies h1 {
  margin-bottom: 40px;
  font-weight: 400;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  color: #5C1515;
  padding: 1em 0 .8em;
}
h2 {
	font-family: 'Dancing Script', cursive;
	margin-left: 1em;
}
.addCart, .heart {
	color: #ffffff;
  	background: #2c97de;
  	padding: 10px;
	 border-radius: 0px
}
.addCart:hover , .heart:hover{
  	color: #23527c;
}
.information{
	width: 100%;
	margin-top: 10px;
}
.pagination{
	margin: 10px auto;
	float: right;
}
.categogies a{
	text-decoration: none;
}
/*end categogies*/
.leftbar{
	float: left;
	width: 20%;
}
.rightbar{
	float: right;
	width: 75%;
}
@media screen and (max-width: 768px) {
	.leftbar{
		display: none;
	}
	.rightbar{
		width: 100%;
	}
	body > div.view.ng-scope > div > div.rightbar > div div a img{
		margin: 0 auto;
	}
	.slide{
		height: 100%;
	}
	.imgBook{
	height: 100%;
	}
	
}
.panel-heading{
	text-align: center;
	font-size: 30px;
	color: #080584;
	font-family: 'Cookie', cursive;
}
.panel-body ul li {
	list-style-type: none;
	font-size: 18px;
	font-family: 'Handlee', cursive;
}
.categogiesTop li{
	list-style-type: none;
	display: inline;
	padding: 1em 2em;
	background: #000;
}
.categogiesTop li a{
	color: #fff;
}
.categogiesTop{
	margin: 1em;
}
/*comment*/
.post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
  float: left;
}
body > div > div > div > div > div.panel-footer > div > ul > li> div > div > h4, body > div > div > div > div > div.panel-footer > div > ul > li > div > div > h5{
	float: left;
	font-size: 20px;
}
body > div > div > div > div > div.panel-footer > div > ul > li > div > p{
	font-size: 15px;
}
.post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;

}
.post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 0;
  display: inline;
}
body > div > div > div > div > div.panel-footer > div > ul > li > div > p{
	text-align: start;
}
.post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}
.ttin{
	margin-bottom: 30px;
	padding: 5px 0;
}
.googleMap{
	height: 250px;
}

.ProductsDetails{
	font-size: 35px;
}
.titleDetails, .contentProducts{
	font-size: 25px;
	font-weight: 300;
}
.plugin{
	height: 350px;
}
/*signin or signup*/
.sign{
	margin-top: 20px;
}
.divOR{
	text-align: center;
}
.btnOR{
	border-radius: 50%;
}
/*end signin or signup*/
/*admin*/
.addPost{
	color: #080584;
	font-size: 25px;
	width: 100%;
	text-align: center;
}
.post{
	color: #337ab7;
	font-weight: 200;
	font-size: 18px;
	margin: 5px auto;
}
.post input, .descript{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #080584;
	width: 100%;
}
.descript{
	border-bottom-width: 2px;
}
.btnPost{
	float: right;
}
.post-preview{
	height: 62px;
	overflow: hidden;
	font-size: 15px;
}
.floatright{
	float: right;
}
.listpost{
	font-size: 20px;
	font-weight: 300;
}
/*end admin*/
/*footer*/
footer{
	margin-top: 96px;
}
.social{
	text-align: center;
	font-size: 30px;
	color: #fff;
}
.btn-social{
	padding-left: 0;
	margin-bottom: 5px;
	margin-top:  5px;
}
.btn-social li{
	list-style-type: none;
	display: inline;
	margin: auto 5px;
}
.btn-social li a{
	color: #fff;
}
.copyright{
	text-align: center;
	font-size: 20px;
	color: #000;
}
/*end footer*/
/*cart*/
.panel-footer{
  height: 50px;
}
.footercart{
  display: inline-block;
}
.titleCart{
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.imgPreview{
  width: 100px;
  margin: auto;
}
.left{
  float: left;
}
.right{
  float: right;
}
.titleBook{
  font-size: 17px;
}
.product{
  padding: 5px ;
  margin-top: 30px;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}
.product div input{
  max-width: 40px;
}
/*end cart*/

@media screen and (max-width: 768px) {
	.navbar-right li a input{
    	display: none;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    .navbar-right li a input{
    	display: none;
    }
}