.pagination>li>a,
.pagination>li>span {
    border: 0;
    border-radius: 30px !important;
    transition: all .3s;
    padding: 0px 11px;
    margin: 0 3px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: #999999;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
}

.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
    color: #999999;
}

.pagination>.active>a,
.pagination>.active>span {
    color: #999999;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #9c27b0;
    border-color: #9c27b0;
    color: #FFFFFF;
    box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
}

.pagination.pagination-info>.active>a,
.pagination.pagination-info>.active>a:focus,
.pagination.pagination-info>.active>a:hover,
.pagination.pagination-info>.active>span,
.pagination.pagination-info>.active>span:focus,
.pagination.pagination-info>.active>span:hover {
    background-color: #03a9f4;
    border-color: #03a9f4;
    box-shadow: 0 4px 5px 0 rgba(3, 169, 244, 0.14), 0 1px 10px 0 rgba(3, 169, 244, 0.12), 0 2px 4px -1px rgba(3, 169, 244, 0.2);
}

.pagination.pagination-success>.active>a,
.pagination.pagination-success>.active>a:focus,
.pagination.pagination-success>.active>a:hover,
.pagination.pagination-success>.active>span,
.pagination.pagination-success>.active>span:focus,
.pagination.pagination-success>.active>span:hover {
    background-color: #4caf50;
    border-color: #4caf50;
    box-shadow: 0 4px 5px 0 rgba(76, 175, 80, 0.14), 0 1px 10px 0 rgba(76, 175, 80, 0.12), 0 2px 4px -1px rgba(76, 175, 80, 0.2);
}

.pagination.pagination-warning>.active>a,
.pagination.pagination-warning>.active>a:focus,
.pagination.pagination-warning>.active>a:hover,
.pagination.pagination-warning>.active>span,
.pagination.pagination-warning>.active>span:focus,
.pagination.pagination-warning>.active>span:hover {
    background-color: #fbc02d;
    border-color: #fbc02d;
    box-shadow: 0 4px 5px 0 rgba(251, 192, 45, 0.14), 0 1px 10px 0 rgba(251, 192, 45, 0.12), 0 2px 4px -1px rgba(251, 192, 45, 0.2);
}

.pagination.pagination-danger>.active>a,
.pagination.pagination-danger>.active>a:focus,
.pagination.pagination-danger>.active>a:hover,
.pagination.pagination-danger>.active>span,
.pagination.pagination-danger>.active>span:focus,
.pagination.pagination-danger>.active>span:hover {
    background-color: #0e5cab;
    border-color: #2258b3;
    box-shadow: 0 4px 5px 0 rgba(244, 67, 54, 0.14), 0 1px 10px 0 rgba(244, 67, 54, 0.12), 0 2px 4px -1px rgba(244, 67, 54, 0.2);
}


/*@media (max-width: 767px) {
    .navbar .navbar-nav .navbar-text {
        color: inherit;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .navbar .navbar-nav .open .dropdown-menu>.dropdown-header {
        border: 0;
        color: inherit;
    }
    .navbar .navbar-nav .open .dropdown-menu .divider {
        border-bottom: 1px solid;
        opacity: 0.08;
    }
    .navbar .navbar-nav .open .dropdown-menu>li>a {
        color: inherit;
    }
    .navbar .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar .navbar-nav .open .dropdown-menu>li>a:focus {
        color: inherit;
        background-color: transparent;
    }
    .navbar .navbar-nav .open .dropdown-menu>.active>a,
    .navbar .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: inherit;
        background-color: transparent;
    }
    .navbar .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: inherit;
        background-color: transparent;
    }
}*/


/*@media (max-width: 1199px) {*/


/*.navbar .navbar-brand {
        height: 50px;
        padding: 10px 15px;
    }
    .navbar .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.navbar .alert {
    border-radius: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 85px;
    width: 100%;
    z-index: 3;
    transition: all 0.3s;
}

.dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.dropdown-menu .divider {
    background-color: rgba(0, 0, 0, 0.12);
}

.dropdown-menu li>a {
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

.dropdown-menu li>a:hover,
.dropdown-menu li>a:focus {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li a:active {
    background-color: #9c27b0;
    color: #FFFFFF;
}

.dropdown-menu .divider {
    margin: 5px 0;
}*/


/*@media (min-width: 992px) {
    .dropdown .dropdown-menu {
        -webkit-transition: all 150ms linear;
        -moz-transition: all 150ms linear;
        -o-transition: all 150ms linear;
        -ms-transition: all 150ms linear;
        transition: all 150ms linear;
        margin-top: -20px;
        opacity: 0;
        visibility: hidden;
        display: block;
    }
    .dropdown.open .dropdown-menu {
        opacity: 1;
        visibility: visible;
        margin-top: 1px;
    }
}*/

.carousel .carousel-control {
    width: 50%;
}

.carousel .carousel-control.left,
.carousel .carousel-control.right {
    background-image: none;
}

.carousel .carousel-control .material-icons,
.carousel .carousel-control .fa {
    display: none;
}


/*.carousel .left {
    cursor: url("../img/arrow-left.png"), url("../img/arrow-left.cur"), default !important;
}

.carousel .right {
    cursor: url("../img/arrow-right.png"), url("../img/arrow-right.cur"), default !important;
}*/

.carousel .carousel-indicators {
    bottom: 5px;
}

.carousel .carousel-indicators li,
.carousel .carousel-indicators .active {
    margin: 11px 10px;
}

.carousel .carousel-indicators li {
    background: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}

.carousel .carousel-indicators .active {
    margin-top: 10px;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.carousel .carousel-caption {
    padding-bottom: 45px;
}

.carousel .carousel-caption .material-icons {
    position: relative;
    top: 5px;
}


/*@media (-webkit-min-device-pixel-ratio: 0.75),
(min--moz-device-pixel-ratio: 0.75),
(-o-device-pixel-ratio: 3 / 4),
(min-device-pixel-ratio: 0.75),
(min-resolution: 0.75dppx),
(min-resolution: 120dpi) {
    hr {
        height: 0.75px;
    }
}

@media (-webkit-min-device-pixel-ratio: 1),
(min--moz-device-pixel-ratio: 1),
(-o-device-pixel-ratio: 1),
(min-device-pixel-ratio: 1),
(min-resolution: 1dppx),
(min-resolution: 160dpi) {
    hr {
        height: 1px;
    }
}

@media (-webkit-min-device-pixel-ratio: 1.33),
(min--moz-device-pixel-ratio: 1.33),
(-o-device-pixel-ratio: 133 / 100),
(min-device-pixel-ratio: 1.33),
(min-resolution: 1.33dppx),
(min-resolution: 213dpi) {
    hr {
        height: 1.333px;
    }
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min--moz-device-pixel-ratio: 1.5),
(-o-device-pixel-ratio: 3 / 2),
(min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx),
(min-resolution: 240dpi) {
    hr {
        height: 1.5px;
    }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min--moz-device-pixel-ratio: 2),
(-o-device-pixel-ratio: 2 / 1),
(min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 380dpi) {
    hr {
        height: 2px;
    }
}

@media (-webkit-min-device-pixel-ratio: 3),
(min--moz-device-pixel-ratio: 3),
(-o-device-pixel-ratio: 3 / 1),
(min-device-pixel-ratio: 3),
(min-resolution: 3dppx),
(min-resolution: 480dpi) {
    hr {
        height: 3px;
    }
}

@media (-webkit-min-device-pixel-ratio: 4),
(min--moz-device-pixel-ratio: 4),
(-o-device-pixel-ratio: 4 / 1),
(min-device-pixel-ratio: 3),
(min-resolution: 4dppx),
(min-resolution: 640dpi) {
    hr {
        height: 4px;
    }
}*/


/*@media (max-width: 991px) {
    .landing-page .header {
        height: auto;
        min-height: 100vh;
    }
    .landing-page .header .container {
        padding-bottom: 70px;
    }
}

@media (max-width: 768px) {
    .footer .copyright {
        display: inline-block;
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }
    .navbar.navbar-transparent {
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 10px;
        border-radius: 0;
    }
    .main-raised {
        margin-left: 10px;
        margin-right: 10px;
    }
}*/