a:hover {
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.typebook {
    text-align: center;
    color: #23527c;
    padding-bottom: 10px;
    border-bottom: solid 3px;
}

.sideBar {
    position: fixed;
}

.paddLeft {
    padding-left: 0;
}

.logo {
    padding: 0;
    margin: 0;
}

.logo img {
    height: 52px;
    padding: 0;
    margin: 0;
}

.pagination {
    float: right;
}

.mdIMG {
    max-height: 100%;
}

.btn-home {
    margin-bottom: 100px;
    margin-right: 20px;
}


/*.search_hidden {
    margin-left: 30px;
}*/

.first {
    margin-top: 25px;
}

.banner {
    width: 100%;
}


/*header*/

.back {
    float: left;
    font-size: 20px;
}

.page {
    margin-top: 50px;
    background-color: #E9FAF6;
}

.log,
.user,
.admin,
.editBook {
    margin-top: 25px;
}

.bggenre {
    background-color: #E9FAF6;
}

.titleHead {
    height: 50px;
}

.empty {
    font-size: 20px;
    text-align: center;
}

.emptyGenre,
.log,
.user {
    height: 700px;
}

.input-group-btn {
    width: 108px;
}

.input-group {
    width: 270px;
}

.search {
    padding-top: 8px;
}


/*sign in sign up*/


/*footer*/


/*footer*/

footer {
    margin-top: 80px;
}

.social {
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.btn-social {
    padding-left: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

.btn-social li {
    list-style-type: none;
    display: inline;
    margin: auto 5px;
}

.btn-social li a {
    color: #fff;
    font-size: 30px;
}

.copyright {
    text-align: center;
    font-size: 20px;
    color: #000;
}


/*shopping cart*/

.imgCart {
    max-height: 250px;
}

div.footercart {
    margin-top: 5px;
    padding-right: 10px;
}

ul.dropdown-cart {
    width: 250px;
}

ul.dropdown-cart li .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
}

ul.dropdown-cart li .item:hover {
    background-color: #f3f3f3;
}

ul.dropdown-cart li .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left {
    float: left;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info {
    float: left;
}

ul.dropdown-cart li .item-left img {
    width: 50px;
}

ul.dropdown-cart li .item-left span.item-info {
    margin-left: 10px;
    width: 150px;
}

ul.dropdown-cart li .item-left span.item-info span {
    display: block;
}

ul.dropdown-cart li .item-right {
    float: right;
}

ul.dropdown-cart li .item-right button {
    margin-top: 14px;
}

.titleCart {
    border-bottom: solid 2px #337ab7;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #23527c;
}

.product {
    margin-left: 2px;
    margin-right: 2px;
    border-bottom: solid 2px #337ab7;
    margin-bottom: 10px;
    padding: 10px;
}

.imgPreview {
    width: 100%;
}

.sl {
    width: 58px;
}

.edit {
    font-size: 20px;
}

.del {
    font-size: 20px;
    float: right;
    padding-left: 0;
    padding-right: 5px;
}

.footercart {
    margin-right: 10px;
    float: right;
    font-weight: bold;
    font-size: 20px;
    color: #23527c;
}

.titleBook {
    font-size: 15px;
    font-weight: bold;
}


/*format book*/

.items {
    margin: 10px 0;
    border: solid 1px #337ab7;
    padding: 10px;
}

.imgBook {
    height: 250px;
    overflow: hidden;
    border-bottom: double 3px #337ab7;
}

.imgBook img {
    margin: auto;
}

.information {
    text-align: center;
}

.addCart,
.heart {
    margin-top: 5px;
    color: #ffffff;
    background: #2c97de;
    padding: 10px;
    border-radius: 5px
}

.addCart:hover,
.heart:hover {
    color: #23527c;
}

.previousPrice {
    text-decoration: line-through;
    font-size: 20px;
}

.oriPrice {
    text-decoration: line-through;
}

.price {
    font-size: 20px;
}

.sellingPrice {
    font-size: 20px;
    color: red;
}

.titlebook {
    font-size: 18px;
    color: #26347A;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    height: 65px;
}

ul li {
    list-style-type: none;
    font-size: 18px;
}

ul.genres {
    padding-left: 0px;
}

.panel-heading {
    font-size: 22px;
    text-align: center;
}

.post-preview>div>img {
    height: 163px;
}


/*home view*/

.banner {
    width: 100%;
}


/*order view*/

.infoOrder {
    text-align: center;
}


/*details view*/

body>div>div>div>div.panel.panel-primary>div.panel-body>div>div>div.col-xs-6.col-sm-4>span>span>i {
    font-size: 20px;
}

.avatar {
    max-width: 80px;
    width: 100%;
    margin-bottom: 10px;
}

.opTop {
    margin-bottom: 100px;
    font-size: 25px;
    float: right;
}

.titleDetails,
.contentProducts {
    font-size: 22px;
    font-family: bold;
}

.ProductsDetails {
    font-size: 30px;
}

.ProductsDetails,
.contentProducts {
    text-align: center;
}

.ProductsDetails,
.titleDetails,
.contentProducts {
    color: #23527c;
}

ul.star {
    padding-left: 0;
    padding-top: 5px;
}

.star>li {
    display: inline;
}

.fa-star,
.glyphicon-star {
    color: #ffff40;
}

.detail {
    padding-right: 20px;
}

.contentBook>p {
    padding: 0 20px;
}

.imgDetails {
    width: 100%;
}


/*admin view*/

.imgAD-preview {
    height: 170px;
    overflow: hidden;
}

.picker {
    margin: 25px;
}

.listpost {
    border: solid 1px #23527c;
    margin-bottom: 10px;
    height: 250px;
    margin: 2px;
}

.postTitle {
    padding: 5px;
    height: 60px;
    border-bottom: solid 1px #23527c;
    font-size: 17px;
}

.post-preview {
    padding: 5px;
}

.floatright {
    float: right;
}

.floatright>a {
    padding-top: 0;
    padding-right: 5px;
    padding-left: 0;
}


/*the end*/

@media screen and (max-width: 325px) {
    .input-group {
        max-width: 200px;
    }
    /*.infoSign {
        width: 150px;
    }*/
}

@media screen and (max-width: 767px) {
    .viewCart {
        margin-right: -20px;
        margin-left: -20px;
    }
    .imgBook {
        height: 365px;
    }
    .leftBar {
        display: none;
    }
    .search_hidden {
        margin-left: 0;
    }
    .price-preview>.previousPrice,
    .price-preview>.sellingPrice {
        margin: auto;
        text-align: center;
    }
    .imgAD-preview {
        height: 210px;
        overflow: hidden;
    }
    .picEdit {
        max-height: 100%;
        width: auto;
    }
    .listpost {
        height: 290px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .picEdit {
        max-height: 100%;
        width: auto;
    }
    .imgBook {
        height: 350px;
    }
    .leftBar {
        display: none;
    }
    .rightBar {
        margin: auto;
        width: 100%;
    }
    .imgGenre {
        height: 400px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1224px) {
    .post-preview>div>img {
        height: 205px;
    }
    .imgGenre {
        height: 400px;
    }
}


/*----loading------*/

.loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 2000;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}