<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-cookies.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-rangy.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-sanitize.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.min.js'></script>
    <link rel="stylesheet" href="css/textAngular.css" type="text/css">
    <link rel="stylesheet" href="css/material-kit.css" type="text/css">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="http://www.tattooshunt.com/images/28/leo-zodiac-sign-tattoo-design.jpg">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="myApp" ng-controller="BooksController" ng-init="init();getBooks()">
    <div class="loading" ng-hide="loaded">
        <div class="loader">
            <img ng-src="https://3.bp.blogspot.com/-Yx1dQ0yVzUQ/VuM0RJkGA-I/AAAAAAAAAOU/rz-2dKnVt8wn5KXZh1fzc3DR4VcM81c0g/s320/PH9Iul9.gif" />
        </div>
    </div>

    <header id="header ">
        <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand logo" href="#/" ng-click="scroll()"><img class="img-responsive img-circle" ng-src="http://www.tattooshunt.com/images/28/leo-zodiac-sign-tattoo-design.jpg" /></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/" ng-click="scroll()">Trang chủ</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#/category" ng-click="scroll()">Danh mục<span class="caret"></span></a>
                            <ul class="dropdown-menu" ng-init="getGenres()">
                                <li ng-repeat=" genre in genres "><a href="#/category/{{genre._id}}" ng-click="scroll()">{{genre.name}}</a></li>
                            </ul>
                        </li>
                        <li><a href="#/contact " ng-click="scroll()">Liên hệ</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="showSearch">
                            <form class="search" name="search" ng-submit="textSearch.length>0?submitSearch():''">
                                <div class="input-group">
                                    <input type="text" class="form-control search" ng-model="textSearch" placeholder="Tìm theo tên sách hoặc tác giả">
                                    <!--<div class="input-group-btn">-->
                                    <!--<select class="form-control  search select-search" ng-model="searchBy">
                                                <option value="search">Tên sách</option>
                                                <option value="author">Tác giả</option>
                                            </select>-->
                                    <!--<button class="btn btnSearch" type="submit"><i class="glyphicon glyphicon-search"></i></button>-->
                                    <!--</div>-->
                                </div>
                            </form>
                        </li>
                        <li class="search_hidden" ng-click="SearchFunc()"><a><span class="glyphicon glyphicon-search "></span></a></li>
                        <li ng-hide="isLogged()"><a href="#/user" ng-click="scroll()"><span class="glyphicon glyphicon-user "></span></a></li>
                        <li ng-show="isLogged()" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">{{user.name}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/user" ng-click="scroll()">Trang cá nhân</a></li>
                                <li ng-click="scroll()"><a ng-click="logOut()" ng-click="scroll()">Logout</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart " ></span><span class="qty" > ({{all.totalQty}})</span><span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-cart" role="menu" ng-show="cart.length>0">
                                <li ng-repeat="item in cart">
                                    <span class="item">
                                        <span class="item-left">
                                            <img ng-src="{{item.image}}"  alt="" />
                                            <span class="item-info">
                                                <span>{{item.title}}</span>
                                    <span>{{item.price|number:0}} đ</span>
                                    <span class="qty">{{item.quantity}} quyển</span>
                                    </span>
                                    </span>
                                    <span class="item-right">
                                            
                                    <button class="btn btn-xs btn-danger pull-right" ng-click='removeCart($index)'>x</button>
                                    </span>
                                    </span>
                                </li>
                                <li class="divider"></li>
                                <li><a class="text-center" href="#/cart " ng-click="scroll()">View Cart</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid page">
        <div ng-view>
        </div>

        <a href="#/" class "btn-home" ng-click="scroll()"><i class="fa fa-arrow-up opTop" aria-hidden="true"></i></a>
        <footer>
            <nav class="navbar navbar-inverse navbar-fixed-bottom ">
                <div class="container-fluid footer ">
                    <div class="social ">
                        <ul class="btn-social ">
                            <li><iframe src="https://www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Fpexi287&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80" scrolling="no" frameborder="0" style="border:none;overflow:hidden;width:450px;height:80px;width: 63px;height: 20px;" allowtransparency="true"></iframe></li>
                            <li><a href="https://plus.google.com/u/0/117350576474880201536 " target="_blank"><i class="fa fa-google-plus " aria-hidden="true "></i></a></li>
                            <li><a href="https://www.instagram.com/vkxx07/" target="_blank"><i class="fa fa-linkedin " aria-hidden="true "></i></a></li>
                        </ul>
                    </div>
                    <div class="copyright ">© 2017 Copyright by Thương
                        <div>
                        </div>
            </nav>
        </footer>


        </div>
        <script src="ui-bootstrap-tpls-2.5.0.min.js "></script>
        <script src="app.js "></script>
        <script src="controllers/books.js "></script>
        <script src="controllers/service.js "></script>
</body>

</html>
