<div class="container admin">
    <div class="row" ng-init="getGenres()">
        <div class="col-md-3 rightBar">
            <div class="panel panel-primary">
                <div class="panel-heading">Admin</div>
                <div class="panel-body genres">
                    <ul class="paddLeft">
                        <li><a ng-click="showme=true" href="">Đăng sách</a></li>
                        <li><a ng-click="showme=false" href="">Quản lý sách</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-9" ng-innit="getBooks()">
            <div class="wrapper">
                <div class="panel panel-primary newPost" ng-show="showme">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Book</h3>
                    </div>
                    <div class="panel-body" ng-init="picker()">
                        <div class="row">
                            <div class="col-md-12">
                                <form name="postForm" ng-submit="addBook()">
                                    <div class="form-group">
                                        <label class="control-label">Title<span ng-show="postForm.title.$invalid && !postForm.title.$pristine" class="text-danger"> Title is required.</span></label>
                                        <input type="text" class="form-control" ng-model="book.title" placeholder="Title" ng-required="true">
                                    </div>
                                    <div class="form-group" ng-init="getGenres()">
                                        <label>Genre & Author</label>
                                        <select ng-model="book.genre" ng-required="true" class="form-control" ng-options="genre as genre.name for genre in genres" />
                                        <p ng-show="postForm.genre.$invalid" class="text-danger"> Genre is required.</p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Author: <span ng-show="postForm.author.$invalid && !postForm.author.$pristine" class="text-danger"> Author is required.</span></label>
                                        <input type="text" class="form-control" ng-model="book.author" placeholder="Author" ng-required="true">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Publisher: <span ng-show="postForm.publisher.$invalid  && !postForm.publisher.$pristine" class="text-danger"> Publisher is required.</span></label>
                                        <input type="text" class="form-control" ng-model="book.publisher" placeholder="Publisher">
                                    </div>
                                    <div class="form-group">
                                        <label>Pages</label>
                                        <input type="text" class="form-control" ng-model="book.pages" placeholder="Pages">
                                        <p ng-show="postForm.pages.$error.number" class="text-danger"> Page is number.</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Weight</label>
                                        <input type="text" class="form-control" ng-model="book.weight" placeholder="Weight">
                                        <p ng-show="postForm.weight.$error.number" class="text-danger"> weight is number.</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Width</label>
                                        <input type="text" class="form-control" ng-model="book.size.width" placeholder="Width">
                                        <p ng-show="postForm.width.$error.number" class="text-danger"> width is number.</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Depth</label>
                                        <input type="text" class="form-control" ng-model="book.size.depth" placeholder="Depth">
                                        <p ng-show="postForm.depth.$error.number" class="text-danger"> depth is number.</p>
                                    </div>
                                    <div class="form-group">
                                        <p class="input-group">
                                            <label>Release Date</label>
                                            <input type="text" class="form-control " uib-datepicker-popup="MM/dd/yyyy" ng-model="book.releaseDate" is-open="popup2.opened" datepicker-options="" close-text="Close" />
                                            <span class="input-group-btn ">
                                                <button type="button" class=" picker btn btn-default btn-md" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label>Short Description</label>

                                        <div text-angular="text-angular" name="shortDescription" ng-model="book.shortDescription" ta-disabled='disabled' class="inputDescription"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Full Description</label>
                                        <div text-angular="text-angular" name="fullDescription" ng-model="book.fullDescription" ta-disabled='disabled' class="inputDescription"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Main Image</label>
                                        <input type="url" class="form-control" ng-model="book.images.main" placeholder="Main Image" ng-required="true">
                                    </div>
                                    <!--<div class="form-group">
                                        <label>First Image</label>
                                        <input type="url" class="form-control" ng-model="book.images.first" placeholder="Main Image">
                                    </div>
                                    <div class="form-group">
                                        <label>Second Image</label>
                                        <input type="url" class="form-control" ng-model="book.images.second" placeholder="Second Image">
                                    </div>-->
                                    <div class="form-group">
                                        <label>Sku</label>
                                        <input type="text" class="form-control" ng-model="book.sku" placeholder="Sku">
                                    </div>
                                    <div class="form-group">
                                        <label>Revious Price</label>
                                        <input type="text" class="form-control" ng-model="book.previousPrice" placeholder="Revious Price">
                                        <p ng-show="postForm.previousPrice.$error.number" class="text-danger"> Price is number.</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Selling Price</label>
                                        <input type="number" class="form-control" ng-model="book.sellingPrice" placeholder="Selling Price">
                                        <p ng-show="postForm.sellingPrice.$error.number" class="text-danger"> Price is number.</p>
                                    </div>
                                    <div class="form-group">
                                        <p class="input-group">
                                            <label>Create Date</label>
                                            <input type="text" class="form-control " uib-datepicker-popup="MM/dd/yyyy" ng-model="CreateDate" is-open="popup1.opened" datepicker-options="" close-text="Close" />
                                            <span class="input-group-btn ">
                                                <button type="button" class=" picker btn btn-default btn-md" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                    <span ng-class="postForm.$invalid?'disable':''"><button ng-disabled="postForm.$invalid" type="submit" class="btn btn-primary">Submit</button></span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary ListBook" ng-hide="showme">
                    <div class="panel-heading">Danh sách</div>
                    <div class="panel-body genres">
                        <div class="row" ng-init="getBooks()">
                            <div class="col-sm-6 col-lg-4" ng-repeat=" book in books">
                                <div class="row listpost ">
                                    <div class="col-xs-12 postTitle">
                                        <a ng-click="show " href="#/book/details/{{book._id}}">{{book.title}}</a>
                                        <div class="floatright ">
                                            <a class="btn edit" href="#/edit/{{book._id}}"><i class="fa fa-pencil-square-o " aria-hidden="true "></i></a>
                                            <a class="btn del" href="" ng-click="removeBook(book._id)"><i class="fa fa-times " aria-hidden="true "></i></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 post-preview ">
                                        <div class="row">
                                            <div class="col-xs-7 imgAD-preview">
                                                <img class="img-responsive picEdit" ng-src="{{book.images.main}}" />
                                            </div>
                                            <div class="col-xs-5 price-preview">
                                                <div class="previousPrice">{{book.previousPrice| currency:"$":0}}</div>
                                                <div class="sellingPrice">{{book.sellingPrice| currency:"$":0}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>