<div class="container details " ng-init="getBook()">
    <h2 class="ProductsDetails ">Chi tiết sản phẩm</h2>
    <div class="panel panel-primary ">
        <div class="panel-heading ">{{book.title}}</div>
        <div class="panel-body ">
            <div class="imgDetails ">
                <div class="row ">
                    <div class="col-xs-6 col-sm-4  ">
                        <img class="img-responsive imgDetails " ng-src=" {{book.images.main}} " />
                        <span class="rateTB" uib-rating class="rate" ng-model="rateAvr" max="max" read-only="true" on-hover="hoveringOver(value)"></span>
                    </div>
                    <div class="col-xs-6  col-sm-8">
                        <div class="row detail" ng-init="search()">
                            <span><b>Categogies:</b> <a href="#/category/{{book.genre._id}}">{{book.genre.name}}</a></span><br/>
                            <span><b>Author:</b> <a href="#/search/{{book.author}}">{{book.author}}</a></span><br/>
                            <span><b>Published:</b> {{book.publisher}}</span><br/>
                            <span><b>Price:</b> <span class="oriPrice">{{book.previousPrice| currency:"$":0}}</span> {{book.sellingPrice| currency:"$":0}}</span><br/>
                            <span class="sellingPrice"><b>Tiết kiệm:</b> {{save}}%</span>
                        </div>
                    </div>

                    <div class=" card fullDescription contentBook">
                        <div class="card-title contentProducts">Nội dung</div>
                        <div ta-bind="text" ng-model="book.fullDescription" ta-readonly='disabled'>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class=" reviews" ng-repeat="comment in book.comments|orderBy: 'createdOn' :true">
        <div class="media">
            <div class="row ">
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <div class="avatar">
                        <img class="img-responsive" ng-src="{{comment._user.avatarUrl}}" alt="...">
                    </div>
                </div>
                <div class="col-xs-9 col-sm-10 col-md-11 text-left">
                    <h4 class="media-heading">{{comment._user.name}}</h4>
                    <span uib-rating ng-model="comment.rate" max="max" read-only="true"></span>
                    <span> {{comment.createdDate|date:'dd/ MM/ yyyy h:mma'}}<a class="del" ng-click=''><i class="fa fa-times" aria-hidden="true"></i></a></span>
                    <p>{{comment.commentBody}}</p>
                    <!--<p>{{comment._id}}</p>-->

                </div>
            </div>
        </div>
    </div>

    <div class="cmt ">
        <label for="">Rate</label>
        <span uib-rating ng-model="comment.rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)"></span>
        <div class="form-group">
            <label for="">Comment:</label>
            <textarea class="form-control" rows="3" ng-model="comment.commentBody"></textarea>
            <button class="btn btn-primary" type="button" ng-click="comment.commentBody.length>0&&comment.rate>0?addComment(book):''">Submit</button>
        </div>
    </div>
</div>