<div class="container first" ng-init="getBooks()" ng-show="cart.length>0">
    <div class="row viewCart  bgCart">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary ">
                <div class="panel-heading ">Shopping cart</div>
                <div class="panel-body ">
                    <div class="row titleCart ">
                        <div class="col-xs-6 col-sm-8 products ">
                            Sản phẩm
                        </div>
                        <div class="col-xs-3 col-sm-2 ">
                            Sl
                        </div>
                        <div class="col-xs-3 col-sm-2 ">
                            Giá
                        </div>
                    </div>
                    <div class="row  ">
                        <div class="row divider product" ng-repeat="item in cart">
                            <div class="col-xs-6 col-sm-8 ">
                                <div class="row">
                                    <div class="col-xs-6 ">
                                        <img class="img-responsive imgCart " ng-src="{{item.item.images.main}} " />
                                    </div>
                                    <div class="col-xs-6 titleBook ">
                                        {{item.item.title}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-2  ">
                                Sl: <input type="number" ng-model="item.qty" min="1" class="form-control sl" ng-change="changeQty($index)" />
                            </div>
                            <div class="col-xs-4 col-sm-2  ">
                                {{item.item.sellingPrice*item.qty| currency:"$":0}}<br/>
                                <a class="del" ng-click='removeCart($index)'><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="row footercart ">
                            Total: {{total|currency:"$":0}}
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="height:50px">
                    <button class="btn btn-info btn-sm pull-right" ng-click="checkout()">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>