<div class="container " ng-init="getBooks()" ng-show="cart.length>0">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary ">
                <div class="panel-heading ">Shopping cart</div>
                <div class="panel-body ">
                    <div class="row titleCart ">
                        <div class="col-xs-6 col-sm-8 products ">
                            Sản phẩm
                        </div>
                        <div class="col-xs-3 col-sm-2 ">
                            Sl
                        </div>
                        <div class="col-xs-3 col-sm-2 ">
                            Giá
                        </div>
                    </div>
                    <div class="row product " ng-repeat="item in cart">
                        <div class="col-xs-6 col-sm-8 ">
                            <div class="row">
                                <div class="col-xs-6 ">
                                    <img class="img-responsive imgPreview " ng-src="{{item.item.images.main}} " />
                                </div>
                                <div class="col-xs-6 titleBook ">
                                    {{item.item.title}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-2  ">
                            Sl: <input type="number" ng-model="item.qty" min="1" class="form-control sl" />
                        </div>
                        <div class="col-xs-3 col-sm-2  ">
                            {{item.item.sellingPrice|currency:"$":0}}<br/>
                            <a class="del" ng-click='removeCart($index)'><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="divider">
                    </div>
                    <div class="footercart ">
                        Total: {{item.item.sellingPrice*item.qty| currency:"$":0}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>