<div class="container ">
    <h2 class="contact ">Liên hệ</h2>
    <form class="ttin ">
        <p>
            <span class="glyphicon glyphicon-home "> 21 Võ Thị Sáu, P.3, Q.3 </span><br/>
            <span class="glyphicon glyphicon-phone-alt "> 0931 334 424</span><br/>
            <span class="glyphicon glyphicon-hourglass "> Monday - Saturday: 9am - 5pm</span>
        </p>
    </form>

    <div style="height: 500px; "><a href="https://www.google.com/maps/place/146%2F21+V%C3%B5+Th%E1%BB%8B+S%C3%A1u,+ph%C6%B0%E1%BB%9Dng+8,+Qu%E1%BA%ADn+3,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.787496,106.6885383,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f32fc8e17d9:0x5ef622c1cd171db4!8m2!3d10.787496!4d106.690727"
            target="_blank">Click to direct</a></div>
</div>