<div class="container" ng-init="getUserOder()">
    <div class="row viewCart">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary ">
                <div class="panel-heading ">Đơn hàng</div>
                <div class="panel-body ">
                    <div class="row titleCart ">
                        <div class="col-xs-6 col-sm-8 products ">
                            Sản phẩm
                        </div>
                        <div class="col-xs-3 col-sm-2 ">
                            Sl
                        </div>
                        <div class="col-xs-3 col-sm-2 ">
                            Giá
                        </div>
                    </div>
                    <div class="row  " ng-repeat="order in orders">
                        <div class="row divider  product" ng-repeat="item in order.books">
                            <div class="col-xs-6 col-sm-8  titleBook ">
                                {{item._book.title}}
                            </div>
                            <div class="col-xs-2 col-sm-2  ">
                                Sl: <input name="quantity" value="{{item.quantity}}" type="number" class="form-control sl" ng-change="changeQty($index)" />
                            </div>
                            <div class="col-xs-4 col-sm-2  ">
                                {{item.price|currency:"$":0}}<br/>
                                <a class="del" ng-click='removeCart($index)'><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <div class="row">
                                {{order.total|currency:"$":0}}
                            </div>
                        </div>
                        <div class="row infoOrder">
                            <h4>Thông tin giao hàng</h4>
                            <h5>Người nhận: Đăng Thương</h5>
                            <p>Địa chỉ: 21/15 Vạn Kiếp, p.3, q.Bình Thạnh </p>
                            <p>Điện thoại: 0965414424</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>