<div class="container">
    <div class="panel panel-primary newPost">
        <div class="panel-heading addPost ">Chỉnh sửa sách</div>
        <div class="panel-body " ng-init="getGenres()">
            <form class="addBook" novalidate ng-submit="updateBook()" ng-init="getBook()">
                <div class=" post">Tiêu đề:<br/><input ng-model="book.title" type="text" required /></div>
                <div class="post">Tác giả:<br/><input ng-model="book.author" type="text" required/></div>
                <div class=" post">Nhà xuất bản:<br/><input ng-model="book.publisher" type="text" required/></div>
                <div class=" post">Số trang:<br/><input ng-model="book.page" type="number" /></div>
                <div class=" post">Trọng lượng:<br/><input ng-model="book.weight" type="number" /></div>
                <div class="post">Độ rộng:<br/><input ng-model="book.width" type="number" /></div>
                <div class="post">Độ dày:<br/><input ng-model="book.depth" type="number" /></div>
                <div class="post">Ngày xuất bản:<br/><input ng-model="book.releaseDate" /></div>
                <div class=" post">Mô tả ngắn:<br/><textarea ng-model="book.shortDescription" cols="10" rows="2" class="descript" /></textarea>
                </div>
                <div class=" post">Mô tả chi tiết:<br/><textarea ng-model="book.fullDescription" cols="22" rows="4" class="descript" /></textarea>
                </div>
                <div class="post">Hình chính:<br/><input ng-model="book.images.main" type="url" required/></div>
                <div class="post">Hình 1:<br/><input ng-model="book.images.first" type="url" /></div>
                <div class="post">Hình 2:<br/><input ng-model="book.images.second" type="url" /></div>
                <div class="post">Giá gốc:<br/><input ng-model="book.previousPrice" type="number" required/></div>
                <div class=" post">Giá đã giảm:<br/><input ng-model="book.sellingPrice" type="number" required/></div>
                <div class=" post">Ngày tạo:<br/><input ng-model="book.createDate" required/></div>
                <div class=" post">
                    Categogies:
                    <select>
                        <option ng-repeat=" genre in genres ">{{genre.name}}</option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-danger btnPost" ng-disabled="bookForm.$invalid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>