<div class="container bggenre" ng-init="getBookByGenre()">
    <div class="row first">
        <div class="col-md-4 col-lg-3" ng-init="getGenres()">
            <div class="leftBar">
                <div class="panel panel-primary sideBar">
                    <div class="panel-heading titleHead">Danh mục</div>
                    <div class="panel-body genres">
                        <ul class="genres">
                            <li ng-repeat=" genre in genres "><a href="#/category/{{genre._id}}" ng-click="scroll()">{{genre.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-lg-9" ng-innit="getBooks()">
            <div class="rightBar" ng-show="books.length>0">
                <div class="panel panel-primary">
                    <div class="panel-heading titleHead">
                        <p>{{books[0].genre.name}}</p>
                    </div>
                    <div class="panel-body">
                        <div class="wrap">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat=" book in filteredBooks">
                                    <div class="items ">
                                        <div class="imgBook ">
                                            <a ng-click="show " href="#/book/details/{{book._id}} ">
                                                <img class="img-responsive mdIMG" ng-src="{{book.images.main}} " alt="Book ">
                                            </a>
                                        </div>
                                        <div class="information ">
                                            <button href="# " class="btn heart "><span class="fa fa-heart "></span></button>
                                            <button href="# " class="btn addCart "><span class="glyphicon glyphicon-shopping-cart " ></span></button>
                                            <div class="previousPrice ">{{book.previousPrice| currency:"$ ":0}}</div>
                                            <div class="sellingPrice ">{{book.sellingPrice| currency:"$ ":0}}</div>
                                            <a ng-click="show " href="#/book/details/{{book._id}} ">
                                                <h4 class="titlebook ">{{book.title}}</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination">
                            <ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm pagination-danger" boundary-link-numbers="true" next-text=">>" previous-text="<<" ng-click="changePage();scroll()"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightBar" ng-show="books.length==0">
                <div class="panel panel-primary emptyGenre">
                    <div class="panel-heading titleHead">
                        <p>Không có sách thuộc thể loại này</p>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>