<div class="container">
    <div class="row">
        <div class="col-md-3" ng-init="getGenres()">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-click="GenresFunc()">Danh mục</div>
                <div class="panel-body genres" ng-show="showGenres">
                    <ul>
                        <li ng-repeat=" genre in genres "><a href="#/books/category/{{genre._id}}">{{genre.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-9" ng-innit="getBooks()">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <p>Sách thuộc thể loại {{genreName}}</p>
                </div>
                <div class="panel-body" ng-init="getBookByGenre()">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 items" ng-repeat=" book in books">
                            <div class="imgBook">
                                <a ng-click="show " href="#/books/details/{{book._id}} ">
                                    <img class="img-responsive " ng-src="{{book.images.main}} " alt="Book ">
                                </a>

                            </div>
                            <div class="information ">
                                <button href="# " class="btn heart "><span class="fa fa-heart "></span></button>
                                <button href="# " class="btn addCart "><span class="glyphicon glyphicon-shopping-cart " ></span></button>
                                <div class="previousPrice">{{book.previousPrice| currency:"$":0}}</div>
                                <div class="sellingPrice">{{book.sellingPrice| currency:"$":0}}</div>
                                <a ng-click="show " href="#/books/details/{{book._id}} ">
                                    <h4 class="titlebook ">{{book.title}}</h4>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>