<div class="container main">
    <div class="row first">
        <div class="col-md-4 col-lg-3" ng-init="getGenres()">
            <div class="leftBar">
                <div class="panel panel-primary sideBar">
                    <div class="panel-heading titleHead">Danh mục</div>
                    <div class="panel-body genres">
                        <ul class="genres">
                            <li ng-repeat=" genre in genres "><a href="#/category/{{genre._id}}" ng-click="scroll()">{{genre.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9 " ng-innit="getBooks()">
            <div class="rightBar">
                <div class="homeCarousel wrap" ng-init="getBanners()">
                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="banner in banners" index="$index">
                            <img class="img-responsive banner" ng-src="{{banner.imageUrl}}">
                            <!--<div class="carousel-caption">
                                <h1>{{slide.title}}</h1>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" ng-init="getBooks()">
                    <div class="panel-heading">Sách khuyến mãi</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-sm-6 col-md-4 col-lg-3" ng-repeat=" book in books |limitTo:4 ">
                                <div class="items">
                                    <div class="imgBook">
                                        <a ng-click="show " href="#/book/details/{{book._id}} ">
                                            <img class="img-responsive mdIMG" ng-src="{{book.images.main}}" alt="Book ">
                                        </a>
                                    </div>
                                    <div class="information ">
                                        <button href="# " class="btn heart " ng-click="count = count + 1" ng-init="count=7"><span class="fa fa-heart "> {{count}}</span></button>
                                        <button href="# " class="btn addCart " ng-click="addCart(book)"><span class="glyphicon glyphicon-shopping-cart " ></span></button>
                                        <div class="previousPrice">{{book.previousPrice| currency:"$":0}}</div>
                                        <div class="sellingPrice">{{book.sellingPrice| currency:"$":0}}</div>
                                        <a ng-click="show " href="#/book/details/{{book._id}} ">
                                            <h4 class="titlebook ">{{book.title}}</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" ng-init="getBooks()">
                    <div class="panel-heading">Sách mới</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-sm-6 col-md-4 col-lg-3" ng-repeat="book in books |orderBy: 'createdOn' :true | limitTo: 4">
                                <div class="items">
                                    <div class="imgBook">
                                        <a ng-click="show " href="#/book/details/{{book._id}} ">
                                            <img class="img-responsive mdIMG" ng-src="{{book.images.main}}" alt="Book ">
                                        </a>
                                    </div>
                                    <div class="information ">
                                        <button href="# " class="btn heart " ng-click="count = count + 1" ng-init="count=5"><span class="fa fa-heart "> {{count}}</span></button>
                                        <button href="# " class="btn addCart " ng-click="addCart(book)"><span class="glyphicon glyphicon-shopping-cart " ></span></button>
                                        <div class="price">{{book.sellingPrice| currency:"$":0}}</div>
                                        <a ng-click="show " href="#/book/details/{{book._id}} ">
                                            <h4 class="titlebook ">{{book.title}}</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" ng-init="getBooks()">
                    <div class="panel-heading">Sách bán chạy</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-sm-6 col-md-4 col-lg-3" ng-repeat=" book in books | filter : {'title' : 't'} | limitTo: 4 ">
                                <div class="items">
                                    <div class="imgBook">
                                        <a ng-click="show " href="#/book/details/{{book._id}} ">
                                            <img class="img-responsive mdIMG" ng-src="{{book.images.main}}" alt="Book ">
                                        </a>
                                    </div>
                                    <div class="information ">
                                        <button href="# " class="btn heart " ng-click="count = count + 1" ng-init="count=28"><span class="fa fa-heart "> {{count}}</span></button>
                                        <button href="# " class="btn addCart " ng-click="addCart(book)"><span class="glyphicon glyphicon-shopping-cart " ></span></button>
                                        <div class="price ">{{book.sellingPrice| currency:"$ ":0}}</div>
                                        <a ng-click="show " href="#/book/details/{{book._id}} ">
                                            <h4 class="titlebook ">{{book.title}}</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>