<div class="container">
    <div class="row">
        <div class="col-md-3 rightBar" ng-init="getGenres()">
            <div class="panel panel-primary">
                <div class="panel-heading">Danh mục</div>
                <div class="panel-body genres">
                    <ul>
                        <li ng-repeat=" genre in genres "><a href="#/books/category/{{genre._id}}">{{genre.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-9" ng-innit="getBooks()">
            <div class="homeCarousel wrap" ng-init="getBanners()">
                <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="banner in banners" index="$index">
                        <img ng-src="{{banner.imageUrl}}">
                        <!--<div class="carousel-caption">
                                <h1>{{slide.title}}</h1>
                            </div>-->
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Sách khuyến mãi</div>
                <div class="panel-body" ng-init=" getBooks()">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 items" ng-repeat=" book in books | limitTo:3 ">
                            <div class="imgBook">
                                <a ng-click="show " href="#/books/details/{{book._id}} ">
                                    <img class="img-responsive " ng-src="{{book.images.main}} " alt="Book ">
                                </a>

                            </div>
                            <div class="information ">
                                <button href="# " class="btn heart "><span class="fa fa-heart "></span></button>
                                <button href="# " class="btn addCart "><span class="glyphicon glyphicon-shopping-cart " ></span></button>
                                <div class="previousPrice">{{book.previousPrice| currency:"$":0}}</div>
                                <div class="sellingPrice">{{book.sellingPrice| currency:"$":0}}</div>
                                <a ng-click="show " href="#/books/details/{{book._id}} ">
                                    <h4 class="titlebook ">{{book.title}}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Sách mới</div>
                <div class="panel-body" ng-init=" getBooks()">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 items" ng-repeat=" book in books | limitTo:3 ">
                            <div class="imgBook">
                                <a ng-click="show " href="#/books/details/{{book._id}} ">
                                    <img class="img-responsive " ng-src="{{book.images.main}} " alt="Book ">
                                </a>

                            </div>
                            <div class="information ">
                                <button href="# " class="btn heart "><span class="fa fa-heart "></span></button>
                                <button href="# " class="btn addCart "><span class="glyphicon glyphicon-shopping-cart " ></span></button>
                                <div class="price">{{book.sellingPrice| currency:"$":0}}</div>
                                <a ng-click="show " href="#/books/details/{{book._id}} ">
                                    <h4 class="titlebook ">{{book.title}}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row rightbar">
        <ul class="pagination ">
            <li class="disabled "><a href=" " aria-label="Previous "><span aria-hidden="true ">&laquo</span></a></li>
            <li class="active "><a href=" ">1</a></li>
            <li class="disabled "><a href=" ">2</a></li>
            <li class="disabled "><a href=" ">3</a></li>
            <li class="disabled "><a href=" " aria-label="Next "><span aria-hidden="true ">&raquo</span></a></li>
        </ul>
        <!--<ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm pagination-danger" boundary-link-numbers="true"></ul>-->
    </div>
</div>