<div class="container ">
    <div class="row ">
        <div class="col-md-6 col-lg-4 ">
            <div class="row post listpost ">
                <a ng-click="show " href="#/books/details/:id ">The day you went away</a>
                <div class="floatright ">
                    <a><i class="fa fa-pencil-square-o " aria-hidden="true "></i></a>
                    <a><i class="fa fa-times " aria-hidden="true "></i></a>
                </div>
            </div>

            <div class="row post-preview ">
                <div class="col-xs-3 ">
                    <img class="img-responsive imgPreview " ng-src="https://vcdn.tikicdn.com/cache/w300/media/catalog/product/a/b/abab1_1_1_2.jpg " />
                </div>
                <div class="col-xs-9 ">
                    <p>Dưới ngòi bút tài hoa của Đường Thất Công Tử, tâm lý nhân vật, những chuyển biến trong suy nghĩ, thái độ và cảm xúc của từng nhân vật hiện lên vô cùng sắc nét. Đoạn kết viên mãn và hạnh phúc của câu chuyện tình yêu “trái ý thiên mệnh”
                        giữa Đông Hoa - Phượng Cửu trong tập 2 này chắc chắn sẽ để lại trong lòng bạn đọc nhiều ấn tượng.Chấp niệm suốt hai nghìn năm chỉ đổi lại hai chữ vô duyên.Nếu chung quy là vô duyên vậy tại sao lại cho chúng ta gặp nhau, chỉ một
                        lần gặp gỡ mà vấn vương nghìn năm?Trong mộng cảnh trùng trùng mây mù có hình bóng của ai, hủy diệt nỗi tương tư của ai, chôn vùi đời này kiếp trước của ai?</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 ">
            <div class="row post listpost ">
                <a ng-click="show " href="#/books/details/:id ">The day you went away</a>
                <div class="floatright ">
                    <a><i class="fa fa-pencil-square-o " aria-hidden="true "></i></a>
                    <a><i class="fa fa-times " aria-hidden="true "></i></a>
                </div>
            </div>

            <div class="row post-preview ">
                <div class="col-xs-3 ">
                    <img class="img-responsive imgPreview " ng-src="https://vcdn.tikicdn.com/cache/w300/media/catalog/product/a/b/abab1_1_1_2.jpg " />
                </div>
                <div class="col-xs-9 ">
                    <p>Dưới ngòi bút tài hoa của Đường Thất Công Tử, tâm lý nhân vật, những chuyển biến trong suy nghĩ, thái độ và cảm xúc của từng nhân vật hiện lên vô cùng sắc nét. Đoạn kết viên mãn và hạnh phúc của câu chuyện tình yêu “trái ý thiên mệnh”
                        giữa Đông Hoa - Phượng Cửu trong tập 2 này chắc chắn sẽ để lại trong lòng bạn đọc nhiều ấn tượng.Chấp niệm suốt hai nghìn năm chỉ đổi lại hai chữ vô duyên.Nếu chung quy là vô duyên vậy tại sao lại cho chúng ta gặp nhau, chỉ một
                        lần gặp gỡ mà vấn vương nghìn năm?Trong mộng cảnh trùng trùng mây mù có hình bóng của ai, hủy diệt nỗi tương tư của ai, chôn vùi đời này kiếp trước của ai?</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 ">
            <div class="row post listpost ">
                <a ng-click="show " href="#/books/details/:id ">The day you went away</a>
                <div class="floatright ">
                    <a><i class="fa fa-pencil-square-o " aria-hidden="true "></i></a>
                    <a><i class="fa fa-times " aria-hidden="true "></i></a>
                </div>
            </div>

            <div class="row post-preview ">
                <div class="col-xs-3 ">
                    <img class="img-responsive imgPreview " ng-src="https://vcdn.tikicdn.com/cache/w300/media/catalog/product/a/b/abab1_1_1_2.jpg " />
                </div>
                <div class="col-xs-9 ">
                    <p>Dưới ngòi bút tài hoa của Đường Thất Công Tử, tâm lý nhân vật, những chuyển biến trong suy nghĩ, thái độ và cảm xúc của từng nhân vật hiện lên vô cùng sắc nét. Đoạn kết viên mãn và hạnh phúc của câu chuyện tình yêu “trái ý thiên mệnh”
                        giữa Đông Hoa - Phượng Cửu trong tập 2 này chắc chắn sẽ để lại trong lòng bạn đọc nhiều ấn tượng.Chấp niệm suốt hai nghìn năm chỉ đổi lại hai chữ vô duyên.Nếu chung quy là vô duyên vậy tại sao lại cho chúng ta gặp nhau, chỉ một
                        lần gặp gỡ mà vấn vương nghìn năm?Trong mộng cảnh trùng trùng mây mù có hình bóng của ai, hủy diệt nỗi tương tư của ai, chôn vùi đời này kiếp trước của ai?</p>
                </div>
            </div>
        </div>

    </div>
</div>