<div class="container ">
    <div class="panel panel-primary newPost ">
        <div class="panel-heading addPost ">Add new book</div>
        <div class="panel-body ">
            <div class="post ">Title:<br/><input /></div>
            <div class="post ">Author:<br/><input /></div>
            <div class="post ">Description:<br/><textarea cols="22 " rows="6 " class="descript " /></textarea>
            </div>
            <div class="post ">Price:<br/><input /></div>
            <div class="post ">Images:
                <a class="btn uploadImg " ng-click="uploadImg "><i class="fa fa-camera fa fa-2x "></i></a>
                <input class="inputImg " type="file " style="display:none " />
            </div>
            <div class="panel-footer ">
                <div class="post ">
                    Categogies:
                    <select>
                  <option>Adventure</option>
                  <option>Biographical</option>
                  <option>Romantic</option>
                </select>
                    <a class="btn btn-danger btnPost ">Submit</a>
                </div>
            </div>
        </div>
    </div>