<div class="container admin">
    <div class="row">
        <div class="col-md-3 rightBar">
            <div class="panel panel-primary">
                <div class="panel-heading">Admin</div>
                <div class="panel-body genres">
                    <ul class="paddLeft">
                        <li><a href="#/admin">Đăng sách</a></li>
                        <li><a href="#/admin">Quản lý sách</a></li>
                        <li><a href="">Đơn hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9" ng-init="getOrder()">
            <div class="cardOrder card-form ">
                <div ng-repeat="order in orders">
                    <table class="table table-bordered table-hover rwd-table">
                        <caption>Đơn hàng của <a>{{order._user.name}}</a></caption>
                        <thead>
                            <tr>

                                <th class=" ">Tên Sách</th>
                                <th class="">Đơn giá</th>
                                <th class="">Số lượng</th>
                                <th class="">Thành tiền</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in order.books" class="rowBook">

                                <td class="" data-th="Tên sách">
                                    <h5><a href="#/book/details/{{item._book._id}} ">{{item._book.title}}</a></h5>
                                </td>
                                <td class="" data-th="Đơn giá">{{item.price|currency:"$":0}}</td>
                                <td class="" data-th="Sớ lượng">{{item.quantity}}</td>
                                <td class="" data-th="Thành tiền">{{item.price*item.quantity| currency:"$":0}}</td>

                            </tr>
                            <tr>
                                <th colspan="3">Tổng tiền</th>
                                <td class="price" colspan="2" data-th="Tổng tiền">{{order.total|currency:"$":0}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>