<div class="container" ng-init="search()">
    <div ng-init="getBooks()">
        <div class="" ng-init="getBooks()">
            <h2 class="typebook">Kết quả tìm kiếm " {{textSearch}} "</h2>
            <div class="row ">
                <div class="searchTP">
                    <div class="col-sm-6 col-md-4 col-lg-3 " ng-repeat="book in searchBook ">
                        <div class="items ">
                            <div class="imgBook">
                                <a ng-click="show " href="#/book/details/{{book._id}} ">
                                    <img class="img-responsive mdIMG" ng-src="{{book.images.main}} " alt="Book ">
                                </a>
                            </div>
                            <div class="information ">
                                <button href="# " class="btn heart "><span class="fa fa-heart "  ng-click="count = count + 1" ng-init="count=7"> {{count}}</span></button>
                                <button href="# " class="btn addCart " ng-click="addCart(book)"><span class="glyphicon glyphicon-shopping-cart " ></span></button>
                                <div class="previousPrice ">{{book.previousPrice| currency:"$ ":0}}</div>
                                <div class="sellingPrice ">{{book.sellingPrice| currency:"$ ":0}}</div>
                                <a ng-click="show " href="#/book/details/{{book._id}}">
                                    <h4 class="titlebook ">{{book.title}}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>